{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		<link rel="stylesheet" href="{% static "Style.css" %}">
	</head>
	<body>
		<nav>
			<div id="navwrap">
				<a class="navA" href="/">Главная</a>
				<a href="lk" class="navA">Личный кабинет {{ user.get_username }}</a>
				<a class="navA" href="about">О нас</a>
			</div>
		</nav>
		<div id="wrapper">
			<article>
				<p>Название предприятия: {{ name }}</p>
				<p>Описание: {{ description }}</p>
				<p>Период обновления: {{ Period }} минут</p>
				<p>Время открытия: {{ OpenTime }}:00</p>
				<p>Время закрытия: {{ CloseTime }}:00</p>
				<p id="lastP" style="margin-bottom: 4em"><b>Ваш id: {{ ID }}</b></p>
			</article>
		</div>
		<footer>
			&copy 2020 YuTuMi
			<div id="contacs">
				<div class="cont">
					<img src="{% static "images/phone.png" %}" class="Fimg">
					+79969159834
				</div>
				<div class="cont">
					<img src="{% static "images/insta.png" %}" class="Fimg">
					@tuskulll
				</div>
				<div class="cont">
					<img src="{% static "images/email.png" %}" class="Fimg">
					filippovtuskul@gmail.com
				</div>
			</div>
		</footer>
	</body>
</html>